.App
    background: inherit
    background: #dedede
    overflow: hidden
    min-height: 100vh
    .Document
        margin: 0 auto
        width: max-content
        background: inherit
        flex-direction: column
        .Page
            margin-bottom: 10px
    .error
        color: red
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        display: flex
        align-items: center
        justify-content: center
        background: #ff8a8a
        font-size: 4vw
